---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
---

<Layout>
<div class="flex-1 grid place-items-center">
    {
        Astro.locals.session ? (
            <div>
                <p>You are already logged in</p>
                <button id="logout-button">Logout</button>
            </div>
        ) : (
            <div class="max-w-md px-4">
                <h1 class="text-2xl font-bold mb-2 text-center">Iniciar sesión</h1>
                <p class="text-gray-600 mb-6 text-center">
                    Ingresa tus credenciales para poder publicar.
                </p>
                <div class="rounded-lg bg-white p-6 shadow-md border border-gray-300 h-64">
                    <form id="login-form" class="space-y-4 h-full flex flex-col">
                        <div>
                            <Label className='mb-2 block'>Nombre de usuario</Label>
                            <Input id="username" type="text" placeholder="Ingresa tu nombre de usuario" required/>
                        </div>

                        <div>
                            <Label className='mb-2 block'>Contraseña</Label>
                            <Input id="password" type="password" placeholder="Ingresa tu contraseña" required/>
                        </div>

                        <div class="flex flex-col justify-between items-center gap-3 mt-auto w-full">
                            <Button className="w-full flex" type='submit'>
                                Iniciar sesión
                            </Button>
                            <a href="#" class="text-xs text-blue-400 hover:underline">
                                ¿Olvidaste tu contraseña?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        )
    }
    
</div>


<script>
    import authClient from '../lib/auth-client';

    const usernameInput = document.getElementById("username");
    const passwordInput = document.getElementById("password");

    document.getElementById("login-form")?.addEventListener("submit", async () => {
        event?.preventDefault();

        const username = usernameInput?.value;
        const password = passwordInput?.value;

        try {
            const result = await authClient.signIn.username({
                username: username,
                password: password,
            }); 
            
            if (result.error) {
                console.error("Error: ", result.error.message);
                return;
            }

            console.log("Login successful");

            window.location.href = "/posts";
        } catch (error) {
            console.log("Ocurrió un error al iniciar sesión. Por favor, intenta de nuevo.");   
        }
    });

    document.getElementById("logout-button")?.addEventListener("click", async () => {
        await authClient.signOut();
        window.location.href = "/login";
    });
</script>
</Layout>
