---
import Layout from "../../layouts/Layout.astro";
import EditCard from "../../components/Edit";

const apiURL = new URL("/api/posts/index.json", Astro.url);

const session = Astro.locals.session;

const posts: Post[] = await fetch(apiURL, {
          method: 'GET',
        })
		.then(res => res.json())
		.then(data => {
			return data;
		});

if (!session) {
  return Astro.redirect('/login');
}

export const prerender = false;

---

<Layout>
  <div class="grid place-items-center overflow-hidden flex-1">
    <EditCard client:load posts={posts} />
  </div>
</Layout>
