---
---
<header class="flex bg-zinc-200 flex-row w-full justify-between px-20 py-10">
  <div class="flex flex-row gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24"><path fill="currentColor" d="M21 17v-6.9L12 15L1 9l11-6l11 6v8zm-9 4l-7-3.8v-5l7 3.8l7-3.8v5z"></path></svg>
    <h1 class="font-bold text-xl">
      Escuela 25 de Septiembre</h1>
  </div>
  <nav>
    <ul class="flex flex-row gap-8">
      <li><a href="/">Inicio</a></li>
      <li><a href="/posts">Publicaciones</a></li>
      <li><a href="/announcements">Anuncios</a></li>
      <li><a href="/meetings">Convocatorias</a></li>
      <li><a href="/schedules">Cronogramas</a></li>
      <li><a href="/publish">Publicar</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>