---

import { Image } from 'astro:assets';
import Logo from "@/assets/logo.png";

const currentPath = Astro.url.pathname;

const AstroSession = Astro.locals.session

const routes: Route[] = [
  { name: 'Inicio', route: '/' },
  { name: 'Publicaciones', route: '/posts' },
  { name: 'Anuncios', route: '/announcements' },
  { name: 'Convocatorias', route: '/meetings' },
  { name: 'Cronogramas', route: '/schedules' },
  { name: 'Publicar', route: '/publish' },
  // TODO: Add conditional rendering for authenticated users only
  // TODO: this 'login' route will be deleted
  // { name: 'Login', route: '/login' },
];

---

<header class="flex bg-zinc-200 flex-row w-full justify-between px-4 xl:px-12 2xl:px-20 py-4 h-fit ">
  <section class="flex flex-row gap-2">
    <div class="my-auto">
      <Image src={Logo} alt="Logo de la escuela" class="w-18 h-18 select-none" draggable="false" priority={true} />
    </div>
    <h1 class="font-semibold text-2xl 2xl:text-3xl  my-auto select-none">
      Escuela Veinticinco de Septiembre
    </h1>
  </section>
  <nav class="my-auto">
    <ul class="flex flex-row gap-8">
      {
        routes.map(({ name, route }) => (
        <li class="hover:scale-105 duration-250 ease-in-out"><a href={route} class={`select-none ${currentPath === route ? "font-semibold" : ""}`} draggable="false">{name}</a></li>
        ))
      }
      {
        AstroSession && (
          <li class="hover:scale-105 duration-250 ease-in-out"><button id="logout-button" class="cursor-pointer" >Cerrar sesión</button></li>
        )
      }
    </ul>
  </nav>
  <script>
    import authClient from '../lib/auth-client';

    document.getElementById("logout-button")?.addEventListener("click", async () => {
        await authClient.signOut();
        window.location.href = "/";
    });
  </script>
</header>
