---

import { Image } from 'astro:assets';
import Logo from "@/assets/logo.png";
import Logout from './Lougout';

const currentPath = Astro.url.pathname;

// const AstroSession = Astro.locals.session

const routes: Route[] = [
  { name: 'Inicio', route: '/' },
  { name: 'Publicaciones', route: '/posts' },
  { name: 'Anuncios', route: '/announcements' },
  { name: 'Convocatorias', route: '/meetings' },
  { name: 'Cronogramas', route: '/schedules' },
  // { name: 'Publicar', route: '/publish' },
  // TODO: Add conditional rendering for authenticated users only
  // TODO: this 'login' route will be deleted
  // { name: 'Login', route: '/login' },
];

---

<header class="flex bg-primary flex-row w-full justify-between px-4 xl:px-12 2xl:px-20 py-4 h-fit text-white">
  <a href="/" class="flex flex-row gap-2">
    <div class="my-auto">
      <Image src={Logo} alt="Logo de la escuela" class="size-8 md:size-18 select-none" draggable="false" priority={true} />
    </div>
    <h1 class="w-32 md:w-48 font-semibold text-xs 2xl:w-fit md:text-xl 2xl:text-3xl my-auto select-none">
      Escuela Veinticinco de Septiembre
    </h1>
  </a>
  <nav class="my-auto">
    <ul class="flex flex-row gap-6 md:gap-8">
      {
        routes.map(({ name, route }) => (
        <li class="hover:scale-105 duration-250 ease-in-out hidden md:flex"><a href={route} class={`select-none ${currentPath === route ? "font-semibold" : ""}`} draggable="false">{name}</a></li>
        ))
      }
      <li class="hover:scale-105 duration-250 ease-in-out">
        <a href="/publish" class="text-center text-xs cursor-pointer md:text-base">Publicar</a>
      </li>
      <li class="hover:scale-105 duration-250 ease-in-out">
        <Logout client:load />
      </li>
    </ul>
  </nav>
</header>
