---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from "astro:transitions";
import logo from '@/assets/logo.png';
import { Toaster } from "@/components/ui/sonner"

const { home } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<meta name="generator" content={Astro.generator} />
		<title>Escuela 25 de septiembre</title>
		<ClientRouter />
	</head>
	<body>
			<Header />
			<section class="flex flex-col flex-1 overflow-y-auto">
				<article class={`${home === "true" ? "" : "py-8 px-4 md:px-16"} flex-1 flex flex-col`}>
					<slot />
				</article>
				<Footer />
				<Toaster client:load />
			</section>
		</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100dvh;
		max-height: fit-content;
		display: flex;
		flex-direction: column;
		color: #484848;
	}
</style>
